/*Common style for the Assignment 1 portfolio page*/

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url('../images/hypnotize.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 10%;
    background-color:gray;
}

#wrapper {
    margin: 5px auto 100px auto;
    width: 960px;
    display: block;
}

#header-wrap {
    width: 960px;
    margin:0 auto;
    height: 15%;
    line-height: 4;
}
.header-container {
    margin:0;
    background-color: #ffffff;
    border-bottom: 3px solid #dddddd;

}

.clear {
    float : clear;
    clear: both;
}

.horizontal-line {
    width: 100%;
    margin: 0 auto 2% auto;;
    height: 3px;
    background-color: #dddddd;
}

#main-container {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 0 24px 24px 24px;
}

header {
    float: left;
}

header h1 {
    background-color: #4aaaa5;
    color: white;
    height: 100%;
    width: auto;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 24px;
    padding: 0 20px;
    font-weight: bold;
    
}

nav {
    float: right;
    width: 40%;
    height: 100%;
    margin: 10px auto;
    padding: 0 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

}

nav ul li {
    float: right;
    width: 32%;
    margin: 0;
    text-align: center;
}

nav ul li:nth-of-type(2) {
    border-left: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
}



nav ul li a { 
    display: block;
    width: auto;
    line-height: 4;
    font-size: 18px;
    text-align: center;
    color: #777777;

}

nav ul li a:hover {
    text-shadow: 1px 1px .5px black;
}

nav ul li a:active {
    background-color: #666666;
    color: white;
}

nav ul, nav li , nav ul li a{
    text-decoration: none;
}



footer {
    border-top: solid 5px #4aaaa5;
    text-align: center;
    background-color: #666666;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 7.5%;
    line-height: 1.5;
    margin: auto;
}

footer p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/* End commen attributes*/

#main-container h1 {
    line-height: 4;
    font-size: 24px;
    color: #4aaaa5;
    font-weight: bold;
}

#main-container p {
    line-height: 1.5;
    margin: 10px;
    font-size: 16px;

}

#main-container img {
    float: left;
    margin-right: 10px;
}
/* Contact*/
#main-text {
    line-height: 2;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}

input {
    width: 100%;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}

#form-submit-button {
    width: 15%;
    height: 40px;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 5px auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 150px;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}
/* portfolio*/

.portfolio-box {
    width: 300px;
    height: 300px;
    background-color: green;
    float: left;
    margin: 50px;
    border: 2px solid #777777;
}

.portfolio-title-box {
    margin-top: 70%;
    width: 100%;
    text-align: center;
    background-color: #4aaaa5;
    height: 20%;
}

.portfolio-link {
    display: block;
    font-weight: bolder;
    text-decoration: none;
    color: #ffffff;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    font-size: 24px;
    
}

.box1 {
    background-image: url("http://lorempixel.com/300/300");
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
}

.box2 {
    background-image: url("http://lorempixel.com/300/300");
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
}

.box3 {
    background-image: url("http://lorempixel.com/300/300");
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
}

.box4 {
    background-image: url("http://lorempixel.com/300/300");
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
}

.box5 {
    background-image: url("http://lorempixel.com/300/300");
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
}

.box6 {
    background-image: url("http://lorempixel.com/300/300");
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
}